<h1><a href="/">GIF Search</a></h1>

<form action="/">
  <input type="text" name="term" placeholder="Enter search term...">
  <button type="submit">Search</button>
</form>

{{#if gifs}}
  {{#if gifs.length}}
    <div class="gif-grid">
      {{#each gifs}}
      <div class="gif-item">
        <div class="tenor-gif-embed" data-postid="{{this.id}}" data-share-method="host" data-width="100%"
          data-aspect-ratio="1.2266666666666666">
            <a href="{{this.itemurl}}"></a>
        </div>
      </div>
      {{/each}}
    </div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  {{else}}
    <div class="empty-state">
      <p>No GIFs found. Try a different search term!</p>
    </div>
  {{/if}}
{{else}}
  <div class="empty-state">
    <div class="floating-dots"></div>
    <p>Start by searching for your favorite GIFs above!</p>
    
    <div class="suggestions">
      <span class="suggestion-label">Popular searches:</span>
      <div class="suggestion-tags">
        <a href="/?term=cats" class="tag">cats</a>
        <a href="/?term=dogs" class="tag">dogs</a>
        <a href="/?term=funny" class="tag">funny</a>
        <a href="/?term=dancing" class="tag">dancing</a>
        <a href="/?term=happy" class="tag">happy</a>
        <a href="/?term=excited" class="tag">excited</a>
      </div>
    </div>

    <div class="trending-section">
      <span class="trending-label">Trending now:</span>
      <div class="trending-tags">
        <a href="/?term=weekend" class="trending-tag">weekend</a>
        <a href="/?term=coffee" class="trending-tag">coffee</a>
        <a href="/?term=motivation" class="trending-tag">motivation</a>
        <a href="/?term=celebration" class="trending-tag">celebration</a>
        <a href="/?term=relatable" class="trending-tag">relatable</a>
      </div>
    </div>
  </div>
{{/if}}
